.example-form {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.dialog-content {
  width: 800px;
}
/* justify-content: flex-end;
}
.dialog-content {
  overflow-y: auto; 
  max-height: calc(
    100vh - 200px
  ); 
} */
